
<!-- Start Header -->
<% include partial/header.html %>
<!-- End Header -->
<!-- Start Menu-->
<% include partial/menu_select.html %>
<!-- End Menu-->
        <div class="col-md-10">
        	<h2 style="text-align:center; color:#1D7DE4;">WELCOME TO THE TRUESERVICE EXPERIENCE</h2>
        	<p style="text-align:center; width:50%; margin: auto;">
        		Click below to select the report that you want
        	</p>

          <div class="container-menu row">
          	<div class="col-md-1"></div>
          	<div class="col-md-2" id="item-menu-panel-1">
              <div class="item-menu-right-ts" id="menu-opt-uno">
          		  <img class="ico-menu" id="img-menu-1" src="img/audio.png" alt="">
                <p><span><strong>Audios</strong></span></p>
              </div>
              <div id="submenu-ts" class="hidden-ts">
                <p class="submenu-ts"><a href="audioagente">Agents</a></p>
                <p class="submenu-ts second-p"><a href="audiousuario">Customers</a></p>
                <p class="submenu-ts"><a href="audioproducto">Products and Services</a></p>
                <p class="submenu-ts second-p"><a href="reports">Call Statistics</a></p>
                <p class="submenu-ts"><a href="callindicators">Call Indicators</a></p>
              </div>
          	</div>
            <div class="col-md-2" id="item-menu-panel-2">
              <!--<div class="item-menu-right-ts" id="menu-opt-dos">
                <img id="img-menu-2" class="ico-menu" src="img/rs.png" alt="">
                <p><span><strong>Social Networks</strong></span></p>
              </div>-->
              <div id="submenu-ts-2" class="hidden-ts">
                <p class="submenu-ts"><a href="/twitter">Twitter</a></p>
                <!--<p class="submenu-ts second-p"><a href="">Facebook</a></p>-->
              </div>
            </div>
            <!--<div class="col-md-2" id="item-menu-panel-3">
              <div class="item-menu-right-ts">
                <img id="img-menu-3" class="ico-menu" src="img/mail.png" alt="">
                <p><span><strong>Email</strong></span></p>
              </div>
            </div>
            <div class="col-md-2" id="item-menu-panel-4">
              <div class="item-menu-right-ts">
                <img id="img-menu-4" class="ico-menu" src="img/chat.png" alt="">
                <p><span><strong>Chats</strong></span></p>
              </div>
            </div>
            <div class="col-md-2" id="item-menu-panel-5">
              <div class="item-menu-right-ts">
                <img id="img-menu-5" class="ico-menu" src="img/note.png" alt="">
                <p><span><strong>Notes</strong></span></p>
              </div>
            </div>-->

          	<div class="col-md-1"></div>	
          </div>
        </div>
       
      </div>
    </div>
    
<!-- Start Footer -->
<% include partial/footer.html %>
<!-- End Footer -->

  <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="js/jquery.migrate.js"></script>
  <script type="text/javascript" src="js/modernizrr.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/jquery.fitvids.js"></script>
  <script type="text/javascript" src="js/owl.carousel.min.js"></script>
  <script type="text/javascript" src="js/nivo-lightbox.min.js"></script>
  <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
  <script type="text/javascript" src="js/jquery.appear.js"></script>
  <script type="text/javascript" src="js/count-to.js"></script>
  <script type="text/javascript" src="js/jquery.textillate.js"></script>
  <script type="text/javascript" src="js/jquery.lettering.js"></script>
  <script type="text/javascript" src="js/jquery.easypiechart.min.js"></script>
  <script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>
  <script type="text/javascript" src="js/jquery.parallax.js"></script>
  <script type="text/javascript" src="js/mediaelement-and-player.js"></script>
  <script type="text/javascript" src="js/jquery.slicknav.js"></script>
  <script type="text/javascript" src="js/top-menu.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
  <script type="text/javascript" src="js/sessionWatcher.js"></script>
</body>
</html>