<!DOCTYPE html>
<html lang="en">

<head>

	<style>

		h1 { font-family: 'Open Sans', sans-serif; font-weight: 300; margin: 0; font-size: initial;}
		h3 { font-family: 'Open Sans', sans-serif; font-weight: 300; margin: 0; color: #444; }
		p { font-family: 'Open Sans', sans-serif; font-size: 80%; margin: auto; }
		a { font-family: 'Open Sans', sans-serif; font-size: 80%; margin: auto; }
		#h3title { color:#1D7DE4; text-align:center; margin:30px 0; font-size: x-large;}

	</style>

</head>

<body>

	<div id = main_div class="col-md-12">
		<center>
			<div id="div_log" class="center-block" style="padding: 30px;">
				<img src="http://54.213.188.43/img/logo_service.png" class=""> 
				<h3 id="h3title">TrueService password reset</h3>
				<p>To change your password click the link below: </p>
				<a href="url">http://54.213.188.43/restartPassword/</a>
				<p> Do not answer this email. Thanks. </p>
				<br>				
				<p>	<b> CONTACT US </b> </p>
				<p>	 info@truexperience.co </p>
		  	</div><!-- end div_log -->
	  </center>
	</div><!-- end main_div -->
	
</body>
</html>




