    <!-- Start Panel --> 
    <div class="panel-ts col-md-10">
      <p class="text-blue-strong" id="title_panel"></p>

      <input id="aux-date-start" style="display:none" >
      <input id="aux-date-end" style="display:none">

      <!-- INICIO SECCION SELECCION FECHAS --> 
      <div style="">
        <!-- Start table 1--> 
        <div style="width: 53%; display:inline-block;">
          <table class="table-date">
            <tr>
              <th class="tg-yw4l"> </th>
              <th class="tg-yw4l"> Day</th>
              <th class="tg-yw4l"> Month</th>
              <th class="tg-yw4l"> Year</th>
              <th class="tg-yw4l"> </th>
              <th class="tg-yw4l"></th>
              <th class="tg-yw4l">Day</th>
              <th class="tg-yw4l">Month</th>
              <th class="tg-yw4l">Year</th>
              <th class="tg-yw4l"></th>
            </tr>
            <tr>
              <td class="text-blue-strong tg-yw4l"><span>From</span></td>
              <td class="tg-yw4l"><input name="day_start" id="day_start" type="text"></td>
              <td class="tg-yw4l"><input name="month_start" id="month_start" type="text"></td>
              <td class="tg-yw4l"><input name="year_start" id="year_start" type="text"></td>
              <td class="tg-yw4l"><img id="datepicker-button-start" src="img/calendar.png" alt=""></td>
              <td class="text-blue-strong tg-yw4l">To</td>
              <td class="tg-yw4l"><input name="day_end" id="day_end" type="text"></td>
              <td class="tg-yw4l"><input name="month_end" id="month_end" type="text"></td>
              <td class="tg-yw4l"><input name="year_end" id="year_end" type="text"></td>
              <td class="tg-yw4l"><img id="datepicker-button-end" src="img/calendar.png" alt=""></td>
            </tr>
          </table>
        </div>
        <!-- End table --> 

        <div style="width: 31%; display: inline-block;">
          <div class = "selectpickcer-content">
            <span>Call Center</span>
            <select style="background-color: #1DC0E4;" id="select_callcenter" class="opt-descarga selectpicker" multiple="multiple" >   </select>
          </div>
          <div class = "selectpickcer-content">
            <span>Campaign</span>
            <select style="background-color: #1DC0E4;" id="select_campaign" class="opt-descarga selectpicker" multiple="multiple" > </select>
          </div>
        </div>
        <button style="margin-top: 0 !important; border-radius: 80px; width:14%; height:40px; background-color: #1DC0E4; border-color: #1DC0E4; z-index: 1" type="submit" class="btn btn-primary button-sign-in btn-send"  onclick="btn_action()"  > Send </button>
        <div class="alert alert-danger" id="alert_" role="alert"></div>
      </div>
      <!-- FIN SECCION SELECCION FECHAS --> 